.call-page {
  position: relative;
  height: 100%;
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a, label {
      color: $text-default-color;
    }
    .back-button {
      svg {
        width: 25px;
        height: 25px;
      }
    }
    label {
      margin-left: 15px;
    }
  }

  .type-container {
    display: flex;
    margin-top: 80px;
    flex-direction: column;

    figure {
      width: 100%;
      display: flex;
      top: -80px;
      img {
        width: 45%;
        margin: auto;
      }
    }

    .text-container {
      margin-top: 30px;
      width: 100%;
      h3,
      p {
        text-align: center;
      }
      span {
        font-weight: $font-w-semi-bold;
      }
    }
  }
}
