/**
* @desc         common for all pages
* @requires     null
*/

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

.page-wrapper {
  height: 100vh;
  overflow: scroll;
}

.primary-background {
  background-color: $primary-dark-color;
}

.white-background {
  background-color: white;
}

.page-padding-x {
  padding-left: 25px;
  padding-right: 25px;
}
.page-padding-y {
  padding-top: 25px;
  padding-bottom: 25px;
}

