.guide-page-wrapper {
  height: 100vh;
}

.guide-page {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .background-drop {
    background:rgba($primary-dark-color, 0.25);
    border-radius: 12px;
    .carousel {
      &.slide {
        padding: 18px;
      }
      .carousel-item {
        min-height: 60vh;
      }
      .carousel-item.active, .carousel-item-next, .carousel-item-prev {
        display: flex;
        flex-direction: column;
    }
      .carousel-caption {
        position: relative;
        bottom: 15px;
        left: 0;
        padding: 20px 20px;
        color: $text-primary-color;
        h3 {
          font-size: $font-s-xxlarge;
          text-transform: uppercase;
        }
      }
      .carousel-indicators {
        li {
          background-color: $secondary-dark-color;
        }
      }
      img {
        width: 85% !important;
        margin: auto;
        // margin-top: 70px;
      }
    }
  }

  .actions {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
