.profile-page {
  .profile-image {
    max-width: 150px;
    margin: auto;
    margin-top: 45px;
    img {
      width: 100%;
    }
    p {
      margin-top: 15px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }
  }
  .dashboard {
    margin-top: 15px;
    .nav-item {
      outline: none;
      padding: 10px;
      border-radius: 50px;
      border: none;
      color: $text-default-color;
      &.active {
        background-color: $primary-dark-color;
        font-weight: 600;
      }
    }
    .nav-tabs {
      border-bottom: none;
      justify-content: center;
    }
    .tab-content {
      margin-top: 35px;
    }
  }
}
