.page-wrapper {
  height: 100vh;
}

.welcome-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    h3 {
      font-size: $font-s-xxlarge;
      font-weight: $font-w-semi-bold;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .illustration {
    position: absolute;
    left: 0;
    top: 20vh;
    figure {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      justify-content: center;
      width: 100%;
      button {
        width: 85%;
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }

    align-items: center;
  }
}
